<mat-toolbar class="toolbar">
    <a mat-button><span  >Deaddiction system </span></a>
    
    <span matripple="" class="mat-ripple mat-button-ripple"></span>
    <div class="tabs-container">
        <a mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
        routerLink="/patient-dashboard">
            <span class="mat-button-wrapper">Patient dashboard </span>
            <span class="mat-button-focus-overlay"></span>
        </a>
        <a mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected">
            <span class="mat-button-wrapper">Follow Up dashboard </span>
            <span class="mat-button-focus-overlay"></span>
        </a>
        <a mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected">
            <span class="mat-button-wrapper">Add Patient</span>
            <span class="mat-button-focus-overlay"></span>
            <mat-icon>add_box</mat-icon>
        </a>
    </div>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <!-- <app-patient-dashboard></app-patient-dashboard> -->