.example-spacer {
    flex: 1 1 auto;
  }
.toolbar{
    background-color: rgb(54, 54, 176);
    color: white;
    margin-right: 200px;
    position: sticky;
    /* position: -webkit-sticky; For macOS/iOS Safari */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;


}
.tabs-container{
    margin-left: 100px;
    flex: 1 1 auto;
}
